.vrtc-tab-panel-menu.vrtc-tab-panel-menu-right {
  width: 50px;
  float: right;
}

.vrtc-tab-panel.tab-content {
  width: calc(100% - 50px);
  float: left;
  padding-right: 20px;
  padding-left: 0;
}

.vrtc-tab-panel-container {
  width: 100%;
  height: 100%;
  float: left;
}

.bad {
  color: white;
  background-color: #461311;
  margin-top: 10px;
  text-align: center;
}

.good {
  color: white;
  background-color: #114628;
  margin-top: 10px;
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.quarterWidth {
  width: 25%;
}

.stateTable {
  width: 100%;
}

.stateTable td:empty {
  width: 10px;
}

.stateTable tr:empty {
  height: 10px;
}

.vrtc-tab-panel.tab-settings {
  width: 100%;
  float: left;
  padding-right: 20px;
  padding-left: 0;
}

div.vrtc-tab-panel-settings {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.module-title {
  line-height: 41px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  background-color: #22478a;
  border-radius: 4px;
}

.irs-single,
.irs-bar-edge,
.irs-bar,
.irs-from,
.irs-to {
  background-color: #22478a !important;
  border-top-color: #22478a !important;
  border-bottom-color: #22478a !important;
}

hr.hr-text {
  border: none;
  height: 1px;
  background: #f0f0f0;
}

hr.hr-text:after {
  content: attr(data-content);
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: white;
}

#dark_button_x {
  text-align: center;
}

#show_tracks_x {
  text-align: center;
}

#do_not_track_x {
  text-align: center;
}

#bookmarking-tabbable .col-sm-1.vrtc-tab-panel-menu.vrtc-tab-panel-menu-right {
  display: none;
}

#inc_button_x.awesome-bootstrap-radio {
  text-align: center;
}

.shiny-notification {
  overflow-wrap: break-word;
  background-color: #FFFFFF;
  opacity: 1;
}

#shiny-notification-panel {
  top: 20px;
  bottom: unset;
  right: 15px;
  width: 400px;
  z-index: 99;
}

/* display */
.display-panel {
  width: calc(100% - 410px);
  float: left;
  margin-top: 20px;
  text-align: center;
  /* width: min(calc(100vh - 90px), calc(100% - 410px));  */
  /* margin-left: calc((calc(100% - 410px) - min(calc(100vh - 90px), calc(100% - 410px))) / 2) */
}

#display_img {
  width: auto;
  max-height: calc(100vh - 150px);
  max-width: 100%;
}

#displayPlt {
  padding: 10px;
}

#displayPlt img:first-child {
  max-width: 100%;
  height: auto;
}

.curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -20px;
  background-color: #000000;
  opacity: 0.10;
  z-index: 98;
}

.active_display {
  cursor: crosshair;
}

/* noUiSlider */
#control_panel {
  font-size: 12px;
}

#control_panel>div>div>div {
  padding-left: 0px !important;
}

.noUi-horizontal {
  height: 10px !important;
}

.noUi-handle {
  background-color: #66A61E !important;
  box-shadow: none !important
}

.noUi-handle-upper,
.noUi-handle-lower {
  background-color: #c8c8c8 !important;
}

#id_controls > div.noUi-base > div.noUi-origin > div {
  background-color: #66A61E !important;
}

.noUi-horizontal .noUi-handle {
  height: 20px !important;
}

.noUi-horizontal .noUi-handle:before,
.noUi-handle:after {
  height: 7px !important;
}

.noUi-tooltip {
  padding: 0px !important;
  border: none !important;
}

.noUi-marker-large {
  height: 10px !important;
}

.noUi-marker-normal {
  height: 3px !important;
  width: 1px !important;
}

.noUi-pips-horizontal {
  padding-top: 5px !important;
}